<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container">
    <h1 style="text-align: center;">Lost&Found - <%= userInfo.university %></h1><br>
    <h2>Hello <%= userInfo.fullname %></h2>
    <a class="btn btn-primary" href="/users/logout" role="button">Logout</a>
    <a class="btn btn-primary" href="/users/<%= userInfo.id %>" role="button">Profile</a>
    <hr style="border: 3px solid; border-radius: 5px;">
    <p style="text-align: center;">If you lost any item, Fill the below form.</p>
    <form action="/items/lost" id="lost_item_form" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="itemName" class="form-label">Item name</label>
            <input type="text" class="form-control" id="itemName" name="itemName" required>
        </div>
        <div class="mb-3">
            <label for="itemDescription" class="form-label">Item description</label>
            <input type="text" class="form-control" id="itemDescription" name="itemDescription" required>
        </div>
        <div class="mb-3">
            <label for="itemReward" class="form-label">Item reward</label>
            <input type="number" class="form-control" min="0" id="itemReward" name="itemReward" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Item image (Optional)</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <input type="hidden" name="university" value="<%= userInfo.university %>">
        <button type="submit" class="btn btn-primary" id="lost_submit_button">Lost</button>
    </form>
    <hr style="border: 3px solid; border-radius: 5px;">
    <p>If you found your lost item, delete the item to remove from lost items table.</p>
    <% if(userItems.length == 0) { %>
        <p>### No items are present ###</p>
    <% } %>
    <ul>
    <% userItems.forEach((item) => { %>
        <li><%= item.itemName %> <a class="btn btn-primary btn-sm" href="/items/delete/<%= item.id %>" role="button">Delete</a></li>
    <% }); %>
    </ul>
    <hr style="border: 3px solid; border-radius: 5px;">
    <h2>Lost items table</h2>
    <table class="table table-striped">
        <tr>
            <th>Item name</th>
            <th>Item description</th>
            <th>Item reward</th>
            <th>View</th>
        </tr>
        <% items.forEach((item) => { %>
            <tr>
                <td><%= item.itemName %></td>
                <td><%= item.itemDescription %></td>
                <td><%= item.itemReward %> ₹</td>
                <td><a class="btn btn-primary btn-sm" href="/items/<%= item.id %>" role="button">View</a></td>
            </tr>
        <% }); %>
    </table>
</div>
