<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container">
    <h2>Item info</h2>
    <h5>Name: <%=item.itemName%></h5>
    <h5>Description: <%=item.itemDescription%></h5>
    <h5>Reward: <%=item.itemReward%> ₹</h5>
    <% if(item.itemImage == "none") { %>
        <h5>Image: none</h5>
    <% } else { %>
        <h5>Image: </h5><img src="<%=item.itemImage%>" alt="Lost item image" width="300" height="300">
    <% } %>
    <hr style="border: 3px solid; border-radius: 5px;">
    <h2>Item owner info</h2>
    <h5>Fullname: <%=user.fullname%></h5>
    <h5>Email id: <%=user.email%></h5>
    <h5>Contact number: <%=user.contactNumber%></h5>
    <% if(item.userId != loggedInUserId) { %>
        <h5>Found the item ? <a class="btn btn-primary btn-sm" href="/status/<%= item.id %>/">Found</a></h5>
    <% } %>
    <a class="btn btn-primary btn-sm" href="/home" role="button">Home</a>
</div>
